<h3>Movies</h3>

<table>
  <thead>
    <tr>
      <th><a href="/movies">Title</a></th>
      <th><a href="/movies?order=year">Year</a></th>
      <th><a href="/movies?order=rating">Rating</a></th>
      <th><a href="/movies?order=genre">Genre</a></th>
      <th><a href="/movies?order=studio">Studio</a></th>
    </tr>
  </thead>

  <tbody>

    <% @movies.each do |movie| %>
      <tr>
        <td><a href="/movies/<%= movie[:id] %>"><%= movie[:title] %></a></td>
        <td><%= movie[:year] %></td>
        <td><%= movie[:rating] %></td>
        <td><%= movie[:genre] %></td>
        <td><%= movie[:studio] %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<ul>
  <% if @page != 1 %>
    <li><a href="/movies?page=<%= @page - 1 %>">Back</a></li>
  <% end %>

  <li><a href="/movies?page=<%= @page + 1 %>">Next</a></li>
</ul>
